<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <%- include("./bulma") %> 
    <%- include("./icons") %>
    <!-- <link rel="stylesheet" href="./css/fonts.css"> -->
    <title>Document</title>
    
</head>
<body>
    <%- include("./navbar") %>
    <div class="section mt-6">
        <div class="columns">
            <div class="column is-4">
                <div class="box">
                    <div class="content mx-auto">
                        <p class="title is-1 mb-5 font-bebas">Welcome,</p>
                        <p class="subtitle is-3 font-staat"><%- locals.username %></p>
                    </div>
                </div>
            </div>
            <div class="column is-offset-1 is-5">
                <div class="content">
                    <p class="is-size-5 font-arvo"><strong class="font-oswald">Username: </strong><%- locals.username %> </p>
                    <p class="is-size-5 font-arvo"><strong class="font-oswald">Email: </strong><%- locals.email %> </p>
                    <p class="is-size-5 font-arvo"><strong class="font-oswald">User Id: </strong><%- locals.user_id %> </p>
                </div>
            </div>
        </div>
    </div>
    <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading is-size-6 font-bebas">You Are One Of</p>
            <p class="title is-size-2 font-oswald"><%- locals.totalUsers %> Users</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading is-size-6 font-bebas">You Have</p>
            <p class="title is-size-2 font-oswald"><%- locals.personalFileCount %> Files</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading is-size-6 font-bebas">Change Your Password</p>
            <p class="title is-size-2 font-oswald">HERE</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading is-size-6 font-bebas">Live, Laugh, Love</p>
            <p class="title">
                <span>
                    <i class="fa-solid fa-person-running fa-lg"></i>
                </span>
                <span>
                    <i class="fa-solid fa-face-laugh-squint fa-lg"></i>
                </span>
                <span>
                    <i class="fa-solid fa-heart fa-lg"></i>
                </span>
            </p>
          </div>
        </div>
      </nav>
      <div class="content mt-6 has-text-centered">
        <p class="title is-size-4 font-bebas">
            Delete Your Account
        </p>
        <button class="button is-danger">
            Delete Account
        </button>
      </div>
</body>
</html>