<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <%- include("./bulma") %> 
    <%- include("./icons") %>
    <!-- <link rel="stylesheet" href="./css/fonts.css"> -->
    <title>Document</title>
    
</head>
<body>
    <%- include("./navbar") %>
    <div class="section mt-6">
        <div class="columns">
            <div class="column is-4">
                <div class="box">
                    <div class="content mx-auto">
                        <p class="title is-1 mb-5 font-bebas">Welcome,</p>
                        <p class="subtitle is-3 font-staat"><%- locals.username %></p>
                    </div>
                </div>
            </div>
            <div class="column is-offset-1 is-5">
                <div class="content">
                    <p class="is-size-3 font-arvo mb-2">You Have <strong><%- locals.personalFileCount %></strong> Files</p>
                    <div class="title">
                        <span>
                            <i class="fa-solid fa-file fas fa-2x"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-folder fas fa-2x ml-5"></i>                        
                        </span>
                        <span>
                            <i class="fa-solid fa-download fas fa-2x ml-5"></i>
                        </span>
                    </div>
                    <div class="title">
                            <button data-target="createFile"  class="is-rounded is-medium js-modal-trigger button is-link is-light">
                                <span>
                                    <i class="fa-solid fa-file-circle-plus fas fa-2x has-text-link"></i>
                                </span>
                            </button>
                            <button  data-target="createFolder" class="is-rounded is-medium js-modal-trigger button is-link is-light">
                                <span>
                                    <i class="fa-solid fa-folder-plus fas fa-2x has-text-link"></i>
                                </span>
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3">
                <div class="content">
                    <div>
                        <div class="notification is-primary">
                            <button class="delete"></button>
                            <p class="font-staat is-size-4">Example Folder
                                <span>
                                    <i class="fa-solid fa-folder fas fa-lg ml-5"></i>                        
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-2">
                <div class="box">
                    <div class="content">
                        <div class="title">
                            <span>
                                <i class="ml-2 fa-solid fa-file fas fa-2x"></i>
                            </span>
                        </div>
                        <p class="is-size-4 font-staat mb-1">
                            Example File
                        </p>
                        <p class="is-size-6 is-italic font-staat">
                            Contains text content...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="createFile">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">File Editor</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <form action="/createFile" method="POST">
          <section class="modal-card-body">
            <div class="container">
                    <div class="mt-0">
                      <p class="is-size-4 font-bebas">File Name: </p>
                      <input class="font-oswald input mt-2" type="text" name="fileName" placeholder="Epic File v4.0">
                    </div>
                    <div class="mt-4">
                        <p class="is-size-4 font-bebas">Contents : </p>
                        <textarea class="font-oswald mt-2 textarea is-large" name="textContent" placeholder="File Text Contains...."></textarea>
                    </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <input type="submit" value="Create File" class="button is-primary" data-dismiss="modal"/>
            <button class="button is-danger" data-dismiss="modal">Cancel</button>
          </footer>
        </form>
        </div>
      </div>
    <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">File Editor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/fileSystem" method="POST">
                <div class="modal-body">
                    <div class="container">
                            <div class="mt-0">
                              <input class="font-oswald input mt-2" type="text" name="fileName" placeholder="Epic File v4.0">
                            </div>
                            <div class="mt-4">
                                <textarea class="font-oswald mt-2 textarea is-large" placeholder="File Text Contains...."></textarea>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn is-primary" data-dismiss="modal">Create File</button>
                    <input type="submit" class="btn is-danger" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <%- include("./modalCode") %> 
</body>
</html>